{{!--

If the user is NOT logged in, and 'GET /protected' endpoint is called, you will render this view that displays:
-Error page saying that the user is not logged in

--}}
<title>Error</title>
<h1>{{title}}</h1>
<main>
    <p>{{Error}}</p>
    <p>The user is not logged in</p>
    <a href="/">Back to login</a>
</main>