<title>Register</title>
<h1>{{title}}</h1>
<main>
    <form method="POST" action="/register" id="login-form">
        <label for="username" id="usernameInputLabel"> Username: </label>
        <input type="text" id="usernameInput" name="usernameInput">
    <br>
        <label for="password" id="passwordInputLabel"> Password: </label>
        <input type="password" id="passwordInput" name="passwordInput" type="password">
    <br>
        <p class="error">{{error}}</p>
    <br>
        <button type="submit" class="'btn btn-default" id="register-button"> Register </button>
    <br>
        <a href="/">Already have an account? Click here to log-in</a>
    </form>
</main>